.space {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;  
}

.space .mark {
    animation: grow 0.25s ease-in;
  }

  @keyframes grow {
    0% {
      transform: scale(0.00);
    }
  
    75% {
      transform: scale(1.25);
    }
  
    100% {
      transform: scale(1.00);
    }
  }